# Secrets & Local Configurations
.env
.env.local
.env.*.local
*.private

# Python & Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
db.sqlite3
db.sqlite3-journal
/backend/__pycache__/
/expenses/__pycache__/

# Node & Angular
node_modules/
.angular/
dist/
/frontend/node_modules/
/frontend/.angular/
/frontend/dist/

# OS-specific files
Thumbs.db
EHthumbs.db
Desktop.ini
.DS_Store

# IDE files (optional, ignored for clean git status)
.vscode/
.idea/
*.swp
*.swo
